<html>
    <body>
        <div class="topnav">
            <!-- <a class="active" href="temp.html">Home</a>
            <a href="login.html">Login</a>
            <a href="contact.html">Contact</a>
            <a href="view.html">View</a> -->
            <nav>
                <a href="index.html"  ngclick="active='topnav'" class='active'>Home</a>
                <a href="reviews.html"  ng-click="active='topnav'">Reviews</a>
                <a href="ajaxanimation.html"  ng-click="active='topnav'">Famous Books</a>
                <a href="view.html"  ng-click="active='topnav'">View</a>
                <a href="textareaex8.html"  ng-click="active='topnav'">Files</a>
                <a href="sample.html"  ng-click="active='topnav'">Contact</a>
        
            </nav>
        </div>
    </body>
    
</html>
