<html>
<head>
<style>
#bordering {
border: 25px solid transparent;
padding: 30px;
border-image: url(border.jpg) 60 round;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body ng-app="">
<div id="bordering">
<select ng-model="myVar">
<option value="" disabled selected>FILE</option>
<option value="new">new</option>
<option value="open">open</option>
<option value="save as">save as</option>
<option value="exit">exit</option>
</select>
<select id= "select" onchange="edit()" ng-model="myvar1">
<option value="" disabled selected>EDIT</option>
<option value="cut">cut</option>
<option value="copy">copy</option>
<option value="paste">paste</option>
</select>
<div ng-switch="myVar">
<table>
<tr><td>Text to Save:</td></tr>
<tr>
<td colspan="3">
<textarea id="inputTextToSave" cols="80" rows="25" ng-paste="paste=true" ng-copy="copy=true"  ng-cut="cut=true" ></textarea>
</td>
</tr>
</table>
<p style="text-align: center">Click here to go to the <a href="test.html">home page</a></p>
<div ng-switch-when="new">
<button><a href="editor.html">new</a> </button>
</div>
<div ng-switch-when="save as">
Filename to Save As:<input id="inputFileNameToSaveAs"></input>
<button onclick="saveTextAsFile()">Save Text to File</button>
</div>
<div ng-switch-when="open">
<table>
<tr>
<td>Select a File to Load:</td>
<td><input type="file" id="fileToLoad"></td>
<td><button onclick="loadFileAsText()">Load Selected File</button><td>
</tr>
</table>
</div>
<div ng-switch-when="exit">
<button class="btn btn-alt a1" onclick = "exitFile()" id = "exitFile">Close File</button>
</div>
</div>
<div ng-switch="myvar1">
<p>You have copied: <b>{{copy}}</b></p>
<p>You have cut from Textbox: <b>{{cut}}</b></p>
<p>You have pasted in Textbox: <b>{{paste}}</b></p>
<p id="demo"></p>
<div ng-switch-when="copy">
<button class="btn btn-alt a1" onclick = "copytoClipboard()" id ="copy">Copy</button>
</div>
<div ng-switch-when="paste">
<button class="btn btn-alt a1" onclick = "pastetoClipboard()" id ="paste">Paste</button>
</div>
<div ng-switch-when="cut">
<button class="btn btn-alt a1" onclick = "cuttoClipboard()" id ="cut">Cut</button>
</div>
</div>
<script type="text/javascript">
$scope.cut = false;
$scope.copy = false;
$scope.paste = false;

function saveTextAsFile()
{
var textToSave = document.getElementById("inputTextToSave").value;
var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
var fileNameToSaveAs = document.getElementById("inputFileNameToSaveAs").value;
var downloadLink = document.createElement("a");
downloadLink.download = fileNameToSaveAs;
downloadLink.innerHTML = "Download File";
downloadLink.href = textToSaveAsURL;
downloadLink.onclick = destroyClickedElement;
downloadLink.style.display = "none";
document.body.appendChild(downloadLink);
downloadLink.click();
}

function destroyClickedElement(event)
{
document.body.removeChild(event.target);
}

function loadFileAsText()
{
    var fileToLoad = document.getElementById("fileToLoad").files[0];
    var fileReader = new FileReader();
    fileReader.onload = function(fileLoadedEvent)
{
    var textFromFileLoaded = fileLoadedEvent.target.result;
    document.getElementById("inputTextToSave").value = textFromFileLoaded;
};
fileReader.readAsText(fileToLoad, "UTF-8");
}

function edit()
{
var x = document.getElementById("select").value;
document.getElementById("demo").innerHTML = x + " successful !!";
}

function copytoClipboard()
{
var textArea = document.getElementById("inputTextToSave");
textArea.select();
document.execCommand("Copy");
}

function cuttoClipboard()
{
var textArea = document.getElementById("inputTextToSave");
textArea.select();
document.execCommand("Cut");
}

function pastetoClipboard()
{
let pasteArea = document.getElementById('inputTextToSave');
navigator.clipboard.readText().then((text)=>{pasteArea.value+='\n'+ text;
document.execCommand("paste");
})
}


function exitFile()
{
window.close();
}

</script>
</body>
</html>